In [2]:
#Importing Libraries
import pandas as pd
import numpy as np
import joblib

In [3]:
#Importing Dataset
df=pd.read_csv('cpdata.csv')

In [4]:
df

      temperature   humidity        ph    rainfall       label
0       20.879744  82.002744  6.502985  202.935536        rice
1       21.770462  80.319644  7.038096  226.655537        rice
2       23.004459  82.320763  7.840207  263.964248        rice
3       26.491096  80.158363  6.980401  242.864034        rice
4       20.130175  81.604873  7.628473  262.717340        rice
...           ...        ...       ...         ...         ...
3095    25.287846  89.636679  6.765095   58.286977  watermelon
3096    26.638386  84.695469  6.189214   48.324286  watermelon
3097    25.331045  84.305338  6.904242   41.532187  watermelon
3098    26.897502  83.892415  6.463271   43.971937  watermelon
3099    26.986037  89.413849  6.260839   58.548767  watermelon

[3100 rows x 5 columns]

In [5]:
#Label Encoding the target variable
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df['label']= LE.fit_transform(df['label'])

In [6]:
print(LE.classes_)

['Adzuki Beans' 'Black gram' 'Chickpea' 'Coconut' 'Coffee' 'Cotton'
 'Ground Nut' 'Jute' 'Kidney Beans' 'Lentil' 'Moth Beans' 'Mung Bean'
 'Peas' 'Pigeon Peas' 'Rubber' 'Sugarcane' 'Tea' 'Tobacco' 'apple'
 'banana' 'grapes' 'maize' 'mango' 'millet' 'muskmelon' 'orange' 'papaya'
 'pomegranate' 'rice' 'watermelon' 'wheat']

In [7]:
df

      temperature   humidity        ph    rainfall  label
0       20.879744  82.002744  6.502985  202.935536     28
1       21.770462  80.319644  7.038096  226.655537     28
2       23.004459  82.320763  7.840207  263.964248     28
3       26.491096  80.158363  6.980401  242.864034     28
4       20.130175  81.604873  7.628473  262.717340     28
...           ...        ...       ...         ...    ...
3095    25.287846  89.636679  6.765095   58.286977     29
3096    26.638386  84.695469  6.189214   48.324286     29
3097    25.331045  84.305338  6.904242   41.532187     29
3098    26.897502  83.892415  6.463271   43.971937     29
3099    26.986037  89.413849  6.260839   58.548767     29

[3100 rows x 5 columns]

In [8]:
#Separating attributes and target
X=df.iloc[:,0:4].values
y=df.iloc[:,-1].values

In [9]:
X

array([[ 20.87974371,  82.00274423,   6.50298529, 202.9355362 ],
       [ 21.77046169,  80.31964408,   7.03809636, 226.6555374 ],
       [ 23.00445915,  82.3207629 ,   7.84020714, 263.9642476 ],
       ...,
       [ 25.3310446 ,  84.30533791,   6.90424171,  41.53218699],
       [ 26.89750174,  83.89241484,   6.46327108,  43.97193745],
       [ 26.98603693,  89.4138489 ,   6.26083896,  58.54876687]])

In [10]:
y

array([28, 28, 28, ..., 29, 29, 29])

In [11]:
#Splitting the data into training and test set(20% data in test set)
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [12]:
#Standard Scaling the attribute values
from sklearn.preprocessing import StandardScaler
S=StandardScaler()
X_train=S.fit_transform(X_train)
X_test=S.transform(X_test)

In [13]:
#Importing the KNN Model
from sklearn.neighbors import KNeighborsClassifier
Knn=KNeighborsClassifier(n_neighbors=5,weights='uniform',algorithm='auto',p=3,metric='minkowski')

In [14]:

from sklearn.tree import DecisionTreeClassifier
DC=DecisionTreeClassifier(criterion="gini")

In [15]:
#Fitting data to the model
Knn.fit(X_train,y_train)
DC.fit(X_train,y_train)

DecisionTreeClassifier()

In [16]:
#Predicting Test Data
y_pred1=Knn.predict(X_test)
y_pred2=DC.predict(X_test)

In [17]:

#Saving the model
joblib.dump(Knn, 'classifier_knn.pkl')
joblib.dump(DC, 'classifier_decision_tree.pkl')

['classifier_decision_tree.pkl']

In [18]:
#Calculating metrics
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred1))
print(accuracy_score(y_test, y_pred2))

0.8774193548387097
0.9032258064516129

In [47]:
#Accuracy of KNN model - 0.8774193548387097
#Accuracy of Decsion Tree model -0.9064516129032258


temp=int(input())
hum=int(input())
ph=int(input())
rain=int(input())
knn_pred= Knn.predict([[temp,hum,ph,rain]])
dc_pred= DC.predict([[temp,hum,ph,rain]]) 
print(knn_pred)
print(dc_pred)

 0
 0
 0
 0

[21]
[21]